img.logo-img {
  max-width: 130px;
  margin-left: 20px;
}
.global-container {
  max-width: 912px;
  margin: auto;
}
.airdrop-area {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.7rem !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #0d6efd !important;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-check.form-switch {
  display: flex;
  flex-direction: column;
}
label.form-check-label {
  margin-left: -32px !important;
}
label.list {
  font-weight: 700;
  margin-bottom: -11px;
}
.textarea {
  margin-bottom: 20px;
}
.form-switch .form-check-input {
  border: 2px solid #0d6efd !important;
  width: 5.5em !important;
  height: 3em !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27rgba%280, 0, 0, 0.25%29%27/%3e%3c/svg%3e");
  background-position: left center;
  border-radius: 25px !important;
  transition: background-position 0.15s ease-in-out;
}
.form-switch {
  padding-left: 0 !important;
  padding-right: 70px !important;
}
.position-relative {
  position: relative !important;
  width: 53%;
}
.search-icon {
  position: absolute;
  top: 40%;
  left: 1%;
}
textarea#exampleFormControlTextarea {
  width: 79%;
}
span.border.border-0.bg-transparent {
  margin-right: 53px;
}
form.ta {
  margin-left: 94px;
}

button.button {
  margin-left: 12rem;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
li.list-style {
  list-style: decimal;
}

.nav2-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch-network {
  display: block;
  margin-left: auto;
}
.content {
  display: flex;
  margin-top: 20px;
}
#wrapper {
  width: 100px;
  display: block;
  margin-left: auto;
  background: #fff;
  background-clip: padding-box;
  text-align: center;
}
.button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  padding: 5px 10px;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: default;
  transition: all 0.2s ease-out;
}
.button:hover {
  border-color: #0d6efd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #0d6efd;
  color: #fff;
}
.button:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
  background: rgba(255, 255, 255, 0.5);
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 75px auto;
  padding: 20px;
  background: #fff;
  border: 1px solid #666;
  width: 450px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  position: relative;
}
.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  text-align: center;
  margin-top: 0;
  color: #666;
  font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 80%;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.connect-wallet-area {
  margin-top: -20px;
  margin-left: -16px;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}

.logout:hover {
  background: #0d6efd;
  color: #fff !important;
}

/* dropdown */
.dropdown {
  border: 2px solid #0d6efd;
  margin-top: 0px;
  border-radius: "5px";
}
.heroSearch {
  border: 2px solid #0d6efd;
  padding: 15px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.heroSearch input {
  background-color: transparent;
  border: none;
  color: #000000;
  outline: none;
  width: 100%;
}
#searchIco {
  font-size: 24px;
  color: #000000;
  margin: auto;
}
/* media qurey */

@media screen and (max-width: 540px) {
  .airdrop-area {
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
  }
  .form-switch {
    padding-left: 30px !important;
    padding-right: 0px !important;
  }
  .token-container.text-center {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  button.border.border-0.bg-transparent {
    margin-right: 0px;
  }
  label.list {
    margin-left: 44px;
  }
  form.ta {
    margin-left: 45px;
  }
  textarea#exampleFormControlTextarea {
    width: 97%;
  }
  button.button {
    margin-left: 8rem;
  }
  .breadcrumb-area {
    margin-left: 40px;
  }
}

@media screen and (max-width: 820px) {
  label.list {
    margin-left: 37px;
  }
}

@media screen and (max-width: 912px) {
  .nav2-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .breadcrumb-area {
    margin-left: 30px;
  }
}

@media screen and (max-width: 412px) {
  button.button {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 480px) {
}
