.sidebar {
  color: #fff;
  height: 100vh;
}

img.logo-img {
  max-width: 100px;
  margin-right: 50px;
}
.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.sidebar-content {
  margin-top: 50px;
}
.sidebar-link {
  display: flex;
  align-items: center;
  color: #22abe3;
  gap: 10px;
  text-decoration: none;
  margin-left: 15px;
  margin-bottom: 20px;
  font-weight: 500;
}
.icon {
  font-size: 22px;
}
