/*   font-family: "Poppins", sans-serif;#22ABE3;-blue*/
/* #212529-black, #7F777D-grey, #606469-black2, #717585-grey2 */
@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@300&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.dynamic-container {
  max-width: 1440px;
  margin: auto;
}
header.header.fixed-top.header-animated {
  padding-bottom: 0px !important;
}
nav.navbar.navbar-expand-lg.navbar-light.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 0px !important;
  margin-bottom: -9rem;
}
.container.py-5.mt-5 {
  margin-left: 49px !important;
  padding-top: 4px !important;
}
.row.align-items-center {
  padding-top: 0px !important;
  padding-left: 0px !important;
  margin: 0 !important;
}
strong.introvideo {
  margin-left: 20px !important;
  text-transform: uppercase !important;
}
.prent.mx-3 {
  margin-right: 1rem !important;
  margin-left: 0rem !important;
}

h1.mb-3 {
  color: #212529;
  font-weight: 800;
}
span.bd {
  color: #22abe3;
}
.img-fluid {
  max-width: 110%;
  height: auto;
}
.img-gradient {
  position: relative;
  z-index: 99;
}
.col-md-5 {
  flex: 0 0 auto;
  width: 41.66667%;
}
.img-gradient-right::before {
  left: auto;
  right: -2rem;
}
.img-gradient-left::before,
.img-gradient-right::before {
  width: 70%;
  height: 70%;
  padding-bottom: 0;
}
.img-gradient::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1.5rem;
  background: linear-gradient(45deg, #f68733, #a54500);
  border-radius: 0.25rem;
  z-index: -1;
  opacity: 0.75;
}
img.gif {
  border-radius: 50%;
  width: 45px;
  margin-left: -8px !important;
}

/* images */

.d-block {
  display: block !important;
  margin-left: 20px;
  margin-right: auto;
  border-radius: 50%;
}
img.d-block {
  width: 30%;
}
/* dynamic */
.dynamic-text {
  display: flex;
}
.dynamic-content {
  display: flex;
  padding: 50px 140px;
}
p.dynamic-para {
  color: #887589;
  font-size: 15px;
  padding: 0px 80px;
  font-family: "Poppins", sans-serif;
}
.dynamic-heading {
  padding: 32px 65px;
}
b.heading {
  font-size: 34px !important;
  font-weight: 700 !important;
  line-height: 36px !important;
}
.dynamic-flex {
  display: flex;
}
.image-content {
  margin-right: 25px;
}
.dynamic-flex {
  display: flex;
  padding: 40px 90px;
  align-items: center;
}
p.dynamic-para-2 {
  color: #887589;
  font-weight: 400;
}
h4.dynamic-heading-2 {
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(33, 37, 41);
  text-align: start;
  text-indent: 0px;
  font-size: 22px;
}

@media screen and (max-width: 414px) {
  .img-gradient-right::before {
    left: 6rem !important;
    right: auto;
  }
  .img-gradient-left::before,
  .img-gradient-right::before {
    width: 62%;
    height: 70%;
    padding-bottom: 0;
  }
  .img-fluid {
    max-width: 80% !important;
    height: auto;
  }
  .container.py-5.mt-5 {
    margin-left: 0px !important;
  }
  .dynamic-text {
    display: grid;
  }
  .dynamic-flex {
    padding: 40px 90px;
    align-items: center;
    display: grid;
  }

  .dynamic-heading {
    padding: 32px 34px !important;
  }
  b.heading {
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 27px !important;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 15px;
    padding: 30px 2px !important;
    font-family: "Poppins", sans-serif;
  }
  p.dynamic-para-2 {
    color: #887589;
    font-weight: 400;
    font-size: 14px;
  }
  .dynamic-flex {
    padding: 40px 45px;
    align-items: center;
    display: grid;
  }
  .team-container {
    background: #22a8e0;
    height: 36rem !important;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding-right: -6px;
    margin-left: 24px !important;
  }
  .container.py-5.mt-5 {
    margin-left: 15px !important;
  }
  .img-gradient-right::before {
    left: 7rem !important;
    right: auto;
  }
  .img-gradient::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1.1rem;
    background: linear-gradient(45deg, #f68733, #a54500);
    border-radius: 0.25rem;
    z-index: -1;
    opacity: 0.75;
  }
  p.nhc-1 {
    color: #7f777d;
    font-size: 19px;
    padding: 2px 20px;
  }
  .img-fluid {
    max-width: 88% !important;
    height: auto;
  }
  .d-block {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 40% !important;
  }
  .dynamic-text {
    display: grid;
  }
  .dynamic-flex {
    padding: 40px 45px !important;
    align-items: center;
    display: grid;
  }
  .dynamic-heading {
    padding: 15px 15px !important;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 15px !important;
    padding: 30px 0px !important;
    font-family: "Poppins", sans-serif;
  }
  b.heading {
    font-size: 25px !important;
    font-weight: 700 !important;
    line-height: 28px !important;
  }
  .img-gradient-right::before {
    left: 6rem !important;
  }

  .dynamic-flex {
    padding: 40px 40px;
    align-items: center;
    display: grid;
  }
  p.dynamic-para-2 {
    color: #887589;
    font-weight: 400;
    font-size: 19px !important;
  }
  h1.mb-3 {
    color: #212529;
    font-weight: 800;
    font-size: 33px !important;
  }
  .row.align-items-center {
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin: 0 !important;
  }
}

@media screen and (max-width: 280px) {
  .cc {
    font-size: 17px;
    font-weight: 700;
    padding: 0px 1px 5px;
  }

  h1.mb-3 {
    font-size: 19px;
  }
  p.text-muted {
    font-size: 14px;
    padding-bottom: 17px;
  }
  .img-fluid {
    max-width: 90% !important;
    height: auto;
  }
  .img-gradient-right::before {
    left: 6rem !important;
    right: auto;
  }
  b.heading {
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 20px !important;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 12px;
    font-family: "Poppins", sans-serif;
  }
  .dynamic-flex {
    padding: 10px 14px;
    align-items: center;
    display: grid;
  }
  p.dynamic-para-2 {
    color: #887589;
    font-weight: 400;
    font-size: 12px !important;
  }
  h4.dynamic-heading-2 {
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(33, 37, 41);
    text-align: start;
    text-indent: 0px;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 820px) {
  .row {
    margin: -14px !important;
    padding-left: 0px;
    padding-top: 45px;
  }
  .img-fluid {
    max-width: 95%;
    height: auto;
  }
  .img-gradient-right::before {
    left: auto;
    right: -1rem;
  }
  p.text-muted {
    font-size: 20px !important;
  }
  .dynamic-text {
    display: grid;
  }
  .dynamic-heading {
    padding: 32px 66px;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 19px;
    padding: 20px 3px;
    font-family: "Poppins", sans-serif;
  }
  h1.mb-3 {
    color: #212529;
    font-weight: 800;
    font-size: 29px;
  }
  .dynamic-flex {
    padding: 40px 70px;
    align-items: center;
    display: grid;
  }
}

@media screen and (max-width: 912px) {
  .row.align-items-center {
    padding-top: 0px !important;
    padding-left: 10px !important;
    margin: 0 !important;
  }
  p.text-muted {
    font-size: 22px !important;
  }
  h1.mb-3 {
    color: #212529;
    font-weight: 800;
    font-size: 33px !important;
  }
  .dynamic-text {
    display: grid;
  }
  .dynamic-heading {
    padding: 32px 70px;
  }
  p.dynamic-para-2 {
    color: #887589;
    font-weight: 400;
    font-size: 25px;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 24px;
    padding: 30px 1px;
    font-family: "Poppins", sans-serif;
  }
  .dynamic-flex {
    padding: 40px 120px;
    align-items: center;
    display: grid;
  }
  .d-block {
    width: 50% !important;
  }
  b.heading {
    font-size: 40px;
    font-weight: 700 !important;
    line-height: 38px;
  }
  h4.dynamic-heading-2 {
    font-weight: 600;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(33, 37, 41);
    text-align: start;
    text-indent: 0px;
    font-size: 27px;
  }
}

@media screen and (max-width: 1024px) {
  b.heading {
    font-size: 28px;
    font-weight: 700 !important;
    line-height: 30px;
  }
  .dynamic-heading {
    padding: 32px 74px;
  }
}

@media screen and (max-width: 412px) {
  .row.align-items-center {
    padding-top: 0px !important;
    padding-left: 0px !important;
    margin: -7px !important;
  }
  h1.mb-3 {
    font-size: 29px !important;
    line-height: 26px !important;
  }
  p.text-muted {
    font-size: 16px !important;
  }
  b.heading {
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 22px !important;
  }
  p.dynamic-para {
    color: #887589;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
  }
  .dynamic-flex {
    padding: 10px 30px;
    align-items: center;
    display: grid;
  }
  .img-fluid {
    max-width: 90% !important;
    height: auto;
  }
  h4.dynamic-heading-2 {
    font-weight: 600;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none solid rgb(33, 37, 41);
    text-align: start;
    text-indent: 0px;
    font-size: 22px;
  }
  p.dynamic-para-2 {
    color: #887589;
    font-weight: 400;
    font-size: 17px;
  }
}
