/*   font-family: "Poppins", sans-serif;  #309cb2;*/

.bthp {
  padding-right: 11rem;
  text-decoration: none;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 3px;
  transition: 0.5s;
}
.bthp:hover {
  color: #309cb2 !important;
}

img.card-img-top {
  max-height: 260px !important;
  transition: 0.5s;
}
.portfolioData.col-md-4.shadow {
  box-shadow: none !important;
  border: none !important;
}

.row {
  margin: 0 !important;
  padding-left: 50px;
  padding-top: 45px;
}
h5.card-title {
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-top: -20px;
  margin-left: -17px !important;
  font-size: 17px;
}

.desc-container {
  margin-top: -19px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}
a.project {
  text-decoration: none !important;
  color: black !important;
  transition: 0.5s;
}

.look-container:hover a.project {
  color: #309cb2 !important;
  /* transform: scale(0.9); */
}
.look-container:hover img.card-img-top {
  transform: scale(0.9);
}
.look-container:hover p.look-inside {
  color: #309cb2 !important;
}
a {
  left: 0%;
  position: relative;
}
p.look-inside {
  text-align: right;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: white;
  padding-right: 60px;
  margin-top: -18px;
  transition: 0.5s;
}
.hiarrow {
  color: '#fff';
}
a.inside {
  text-decoration: none;
}

.card-body {
  flex: 1 1 auto;
  /* padding: 1rem 1rem; */
  /* margin-left: -54px !important; */
}
p.card-text {
  /* padding-bottom: 40px; */
  color: #9b9b97;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
/* SIDEBAR */

.logo {
  padding: 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 70px;
}

.logo .logo-name img {
  height: 27px !important;
  margin-right: 5px;
  padding-bottom: 2px;
}

.logo img:last-child {
  height: 16px;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  height: 100%;
  background-color: #2a3042;
  position: fixed;
  top: 0;
  z-index: 1;
}

.sidebar .vertical-menu {
  overflow: auto;
  height: calc(100% - 100px);
}

.sidebar:hover .vertical-menu::-webkit-scrollbar-thumb {
  display: inline;
}

.sidebar .vertical-menu::-webkit-scrollbar {
  width: 6px;
}

.sidebar .vertical-menu::-webkit-scrollbar-thumb {
  display: none;
  background: #74788d;
  border-radius: 10px;
}

.sidebar .vertical-menu ul {
  padding: 0;
}

.logo-name {
  font-size: 20px;
  color: white;
  letter-spacing: 2.5px;
  font-weight: 600;
}

.sidebar .vertical-menu ul li {
  list-style-type: none;
  padding: 12px 22px;
  font-size: 13px;
  cursor: pointer;
}

.sidebar .vertical-menu .channel-item {
  padding: 8px 8px 8px 32px !important;
}

.sidebar .vertical-menu ul li img {
  height: 22px;
  width: 22px;
  margin-right: 8px;
  padding-bottom: 2.5px;
}

.add-channel-btn {
  height: 18px !important;
  margin-right: 0 !important;
}

.sidebar .vertical-menu ul li span {
  color: #a6b0cf;
  transition: all 0.4s;
}

.sidebar .vertical-menu ul li:hover span {
  color: white;
}

.sidebar .vertical-menu ul li .menu-title {
  color: #6a7187 !important;
  letter-spacing: 0.05em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  font-weight: 600;
}

.sidebar .vertical-menu .channels {
  border-top: 1px solid #a6b0cf1f;
}

.color-focus {
  background-color: #a6b0cf1f;
}

@media screen and (max-width: 1280px) {
  .row {
    margin: 0 !important;
    padding-left: 5px;
    padding-top: 45px;
  }
}

@media screen and (max-width: 540px) {
  .col-4 {
    flex: 0 0 auto;
    width: fit-content !important;
  }
  .row {
    margin: 0 !important;
    padding-left: 0px !important;
    padding-top: 45px;
    justify-content: center;
  }
}

@media screen and (max-width: 414px) {
  .coinpayments-container {
    padding-top: 50px;
    /* padding-left: 8px; */
    /* height: 80px; */
  }
}
