/*   font-family: "Poppins", sans-serif;#22ABE3;-blue*/
/* #212529-black, #7F777D-grey, #606469-black2, #717585-grey2 */

.pricing-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 70px;
}
.price-heading {
  color: #22abe3;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins";
}
p.nhc {
  color: #212529;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
}
p.nhc-1 {
  color: #7f777d;
  font-size: 16px;
}
button.gaq-2 {
  height: 49px;
  width: 150px;
  background: #22abe3;
  box-shadow: 0px 2px #88b9fa;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  transition: 0.5s;
  font-weight: 700;
}
button.gaq-2:hover {
  color: white;
  background: #257ab8;
  box-shadow: none;
}

@media screen and (max-width: 540px) {
  p.nhc-1 {
    color: #7f777d;
    font-size: 13px !important;
    font-weight: 300;
    padding: 0px 68px;
  }
  p.nhc {
    color: #212529;
    font-size: 37px !important;
    font-weight: 700;
    line-height: 37px;
  }
  .pricing-container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
  }
}

@media screen and (max-width: 412px) {
  p.nhc-1 {
    color: #7f777d;
    font-size: 18px;
    font-weight: 300;
    padding: 0px 2px;
  }
}

@media screen and (max-width: 912px) {
  .pricing-container {
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    padding-bottom: 70px;
  }
  p.nhc {
    color: #212529;
    font-size: 37px;
    font-weight: 700;
    line-height: 34px;
  }
  p.nhc-1 {
    color: #7f777d;
    font-size: 22px;
    padding: 2px 20px;
  }
}
