@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.team-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
}
h3.ot {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Poppins";
  color: #ffffff;
  font-size: 16px;
}
p.ot-para {
  line-height: 30px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins";
  color: #ffffff;
  padding-top: 3px;
}
.team-container {
  background: #22a8e0;
  height: 40rem;
}
img.image {
  border-radius: 20px;
}
.slider-container {
  padding: 5rem 2rem;
  width: 100% !important;
}
.slick-slide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}
p.name {
  margin-top: 12px;
  margin-bottom: -3px;
}
.details {
  text-align: center;
}
p.name {
  margin-bottom: -3px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Poppins";
}
span.designation {
  color: #ffff;
  font-weight: 100;
  font-size: 14px;
}
button.slick-arrow.slick-next {
  display: none !important;
}
button.slick-arrow.slick-prev {
  display: none !important;
}
@media screen and (max-width: 912px) {
  .team-container {
    background: #22a8e0;
    height: 44rem !important;
  }
  .slick-slide img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

@media screen and (max-width: 540px) {
  img.image {
    width: 100%;
    border-radius: 0px;
  }
}
