@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.team-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 35px;
}
h3.ot {
  letter-spacing: 2px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 19px;
}
p.ot-para {
  line-height: 30px;
  font-size: 28px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding-top: 10px;
}
.team-container {
  background: #22a8e0;
  height: 40rem;
}

.image-container {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
button.slick-arrow.slick-next {
  display: none !important;
}
button.slick-arrow.slick-prev {
  display: none !important;
}
@media screen and (max-width: 912px) {
  .team-container {
    background: #22a8e0;
    height: 44rem !important;
  }
}

@media screen and (max-width: 540px) {
  
}
