.testimonials-container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 70px;
}
.testimonials {
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #309cb2;
}
h4.testi-1 {
  color: #212529;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
}
p.testi-2 {
  font-family: "Poppins", sans-serif;
  color: #686860;
  font-size: 16px;
  padding-bottom: 20px;
  margin-top: -5px;
}
button.review {
  height: 50px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  width: 200px;
  border: 1px solid #198754;
  background: white;
  font-weight: 700;
  padding: 0px 19px;
}
svg.star {
  margin-top: -8px;
}
.slider-content {
  max-width: 531px;
}
.square-container {
  color: #b4b4a3;
}

.box-2 {
  position: relative;
  border: 1px solid;
  font-size: 14px;
  width: 560px;
  height: 110px;
  padding: 30px 35px 30px;
  font-weight: 400;
  z-index: 0;
}
.box-2::after {
  position: absolute;
  width: 20px;
  height: 20px;
  border-top: 0px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-left: 0px solid;
  color: #b9b9b0;
  top: 100%;
  left: 50%;
  margin-left: -230px;
  content: "";
  transform: rotate(45deg);
  margin-top: -8px;
  background: white;
  z-index: 1;
}
.slider-content {
  max-width: 531px;
  display: flex;
}

img.d-block-M {
  max-width: 80px;
  max-height: 75px;
  padding-top: 7px;
  border-radius: 50%;
}
img.d-block.w-100 {
  max-width: 80px;
  max-height: 75px;
  padding-top: 7px;
}
button.carousel-control-next-1 {
  display: none;
}
button.carousel-control-prev-1 {
  display: none;
}
.carousel {
  position: relative;
}
.about-contanier {
  padding-left: 100px;
  text-align: center;
}
.box-content {
  display: flex;
  grid-gap: 20px;
}
.box-3-holder {
  display: grid;
}
.box-4-holder {
  display: grid;
}
.box-3 {
  border: 2px solid white;
  height: 160px;
  width: 260px;
  box-shadow: 0px 0px 14px 0px #bec6ce;
  display: flex;
  justify-content: center;
  align-content: center;
}
.box-3-a {
  border: 2px solid white;
  height: 160px;
  width: 260px;
  box-shadow: 0px 0px 14px 0px #bec6ce;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
.b3-content {
  margin: auto;
}
.box-4 {
  border: 2px solid white;
  height: 160px;
  width: 260px;
  box-shadow: 0px 0px 14px 0px #bec6ce;
  display: flex;
  justify-content: center;
  align-content: center;
}
.box-4-a {
  border: 2px solid white;
  height: 160px;
  width: 260px;
  box-shadow: 0px 0px 14px 0px #bec6ce;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}
img.b3-mg {
  max-height: 45px;
}
h3.b3 {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  padding-top: 20px;
}
p.b3p {
  font-size: 15px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
.container-img {
  display: flex;
  margin-top: 30px;
}
h3.alvin {
  color: #343232;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding-top: 15px;
  padding-left: 20px;
}
p.alvin-des {
  padding-left: 20px;
  font-size: 15px;
  font-weight: 400;
  margin-top: -7px;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 10px !important;
  height: 10px !important;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: blue !important;
  background-clip: padding-box;
  border-radius: 50% !important;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}
.swiper-pagination-bullet {
  background: #2b90d9;
  width: 12px;
  height: 12px;
  border: none !important;
  margin: 0 4px;
  opacity: 1;
}
.carousel-indicators {
  background: none !important;
  /* width: 70px; */
}

@media screen and (max-width: 540px) {
  .slider-content {
    max-width: 531px;
    display: grid;
  }
  .box-content {
    grid-gap: 20px;
    display: grid;
  }
  .box-2 {
    position: relative;
    border: 1px solid;
    font-size: 14px;
    width: 353px;
    height: 130px;
    padding: 30px 35px 30px;
    font-weight: 400;
    z-index: 0;
  }
  .box-2::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 0px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 0px solid;
    color: #b9b9b0;
    top: 100%;
    left: 50%;
    margin-left: -140px;
    content: "";
    transform: rotate(45deg);
    margin-top: -8px;
    background: white;
    z-index: 1;
  }
  .about-contanier {
    padding-left: 70px;
    text-align: center;
    margin-top: 45px;
  }
  .container {
    margin-left: 0px !important;
  }
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: -2rem !important;
    margin-left: 15%;
    list-style: none;
  }
}

@media screen and (max-width: 280px) {
  .about-contanier {
    padding-left: 0px;
    text-align: center;
    margin-top: 45px;
  }
  .box-2 {
    position: relative;
    border: 1px solid;
    font-size: 14px;
    width: 256px;
    height: 170px;
    padding: 30px 35px 30px;
    font-weight: 400;
    z-index: 0;
  }
  .box-2::after {
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 0px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 0px solid;
    color: #b9b9b0;
    top: 100%;
    left: 50%;
    margin-left: -90px;
    content: "";
    transform: rotate(45deg);
    margin-top: -8px;
    background: white;
    z-index: 1;
  }
  section.pb-5 {
    margin-right: 4px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 912px) {
  .slider-content {
    max-width: 560px;
    display: width;
    display: grid;
  }
}

@media screen and (max-width: 412px) {
  .box-2 {
    position: relative;
    border: 1px solid;
    font-size: 14px;
    width: 340px;
    height: 130px;
    padding: 30px 35px 30px;
    font-weight: 400;
    z-index: 0;
  }
  .about-contanier {
    padding-left: 43px;
    text-align: center;
    margin-top: 45px;
  }
}
